@import "@/style/scrollbar.css";
@import "@/style/form-customize.css";
@import 'react-toastify/dist/ReactToastify.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply text-base text-white;
}

.background-gradient {
  background: linear-gradient(
    90deg,
    rgba(81, 169, 251, 1) 0%,
    rgba(34, 95, 253, 1) 100%
  );
}

.background-gradient-multi {
  background: linear-gradient(
    90deg,
    rgba(156, 189, 255, 1) 0%,
    rgba(0, 227, 167, 1) 100%
  );
}

.last-word::last-word {
  color: black;
}
